<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tradingdiary.mapper.IndustryMapper">

    <select id="selectIndustryList" resultType="com.tradingdiary.collection.model.ConceptIndustryVO">
        SELECT ind.code, ind.name, COUNT(DISTINCT sci.stock_code) AS stockCount,
               SUM(md.margin_balance) AS marginBalance, SUM(md.margin_change) AS marginChange,
               SUM(md.short_balance) AS shortBalance, SUM(md.short_change) AS shortChange,
               MAX(sci.snap_date) AS snapDate
        FROM industry ind
        LEFT JOIN stock_industry sci ON ind.code = sci.industry_code AND sci.is_deleted = 0
        LEFT JOIN margin_daily md ON sci.stock_code = md.stock_code AND sci.snap_date = md.trade_date AND md.is_deleted = 0
            <if test="tradeDate != null">AND md.trade_date = #{tradeDate}</if>
            <if test="tradeDate == null">AND md.trade_date = (SELECT MAX(trade_date) FROM margin_daily WHERE is_deleted = 0)</if>
        WHERE ind.is_deleted = 0
        <if test='keyword != null and keyword != ""'>AND ind.name LIKE CONCAT('%', #{keyword}, '%')</if>
        GROUP BY ind.code, ind.name
        ORDER BY ${sortBy} ${sortDir}
        LIMIT #{offset}, #{size}
    </select>

    <select id="countIndustryList" resultType="long">
        SELECT COUNT(DISTINCT ind.id) FROM industry ind
        LEFT JOIN stock_industry sci ON ind.code = sci.industry_code AND sci.is_deleted = 0
        LEFT JOIN margin_daily md ON sci.stock_code = md.stock_code AND sci.snap_date = md.trade_date AND md.is_deleted = 0
            <if test="tradeDate != null">AND md.trade_date = #{tradeDate}</if>
            <if test="tradeDate == null">AND md.trade_date = (SELECT MAX(trade_date) FROM margin_daily WHERE is_deleted = 0)</if>
        WHERE ind.is_deleted = 0
        <if test='keyword != null and keyword != ""'>AND ind.name LIKE CONCAT('%', #{keyword}, '%')</if>
    </select>

</mapper>
