<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 系统用户 Mapper，提供用户账号的查询 -->
<mapper namespace="com.tradingdiary.mapper.SysUserMapper">

    <!-- 根据用户名查询用户信息 -->
    <select id="selectByUsername" resultType="com.tradingdiary.entity.SysUser">
        SELECT * FROM sys_user WHERE username = #{username}
    </select>

</mapper>
