<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tradingdiary.mapper.TradeCalendarMapper">

    <select id="selectTradingDays" resultType="com.tradingdiary.entity.TradeCalendar">
        SELECT * FROM trade_calendar WHERE trade_date BETWEEN #{start} AND #{end} AND is_trading_day = 1 AND is_deleted = 0 ORDER BY trade_date
    </select>

    <select id="selectMaxCalDate" resultType="java.time.LocalDate">
        SELECT MAX(trade_date) FROM trade_calendar WHERE is_deleted = 0
    </select>

</mapper>
